version: 2.1
jobs:
  deploy:
    docker:
      - image: circleci/node:8-browsers

    working_directory: ~/https://github.com/larry-786/circleci

    steps:
      - checkout
      - run: npm install
      - run: 
          name: Deploy Main Branch
          command: |
            sudo apt-get update
            sudo apt-get -qq install git-ftp
            echo "Deploying project ..."
            git ftp push --user "${larryci@appwrk.com}" --passwd "${D;Z^r##b3gQh}" ${appwrk.com}


workflows:
  version: 2
  master-deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: main